 <div class="row" ng-controller="patient_graphCtrl">
      <div class="col-md-4">
        <h3 id="patientlist-title">Patients List</h3>
        <div class="input-group">
            <input type="text" id="SearchText" class="form-control" placeholder="Search for a patient">
            <span class="input-group-btn">
      <button class="btn btn-default" id="SearchPatient" type="button" ng-click="searchPatient()">Search</button>
    </span>
        </div>

        <div class="list-group" id="patient_names">
            <div ng-repeat="patient in patients">
                <a class="list-group-item"
                   ng-class="{'active': togglePatient.patientId===patient.patientId}">
                    <h4 class="list-group-item-heading">{{patient.firstName}} {{patient.lastName}}</h4>
                </a>
            </div>
        </div>
    </div>
    


  <div class="col-md-8">

    <!-- button group -->
    <div class="btn-group" role="group" aria-label="...">
      
      <div class="btn-group dropdown" role="group">
        <button type="button" id="view" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="view-text">Prescriptions</span>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <li ng-repeat="item in prescriptions">
            <a ng-click="$parent.current = item;  retrievePrescription(item)">
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>

      <!-- switch view -->
      <div class="btn-group dropdown" role="group">
        <button type="button" id="view" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="view-text">View</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" id="week-view" ng-click="switchWeekView()">Week</a></li>
          <li><a href="javascript:void(0)" id="month-view" ng-click="switchMonthView()">Month</a></li>
          <li><a href="javascript:void(0)" id="customize-view" ng-click="switchAllTimeView()">All-time</a></li>
        </ul>
      </div>


    </div>
    
    <!--
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Choose dates</h4>
          </div>
          <div class="modal-body">
            <form>
              <label class="label-for-date">From: </label><input type="date" id="date-from">
              <br>
              <label class="label-for-date">To: </label><input type="date" id="date-to">
            </form>
            <p class="reminder">
              <span class="glyphicon glyphicon-exclamation-sign"></span> If you cannot see the date picker  browser does not (mostly because yoursupport it) please enter the dates manually in the form of mm/dd/yyyy
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-confirm">Confirm</button>
          </div>
        </div>
      </div>
    </div>
Modal for Choosing Customized Date-->

    <div class="col-xs-12">
        <div id="myChart0"></div>
<!--         <div id="myChart1"></div>
 -->        

      <p ng-bind-html="myHTML"></p>
    </div>




</div>
</div>