<!-- <!DOCTYPE html>
 -->
<!--     <head>
        <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8" />
        <script src="http://www.parsecdn.com/js/parse-1.6.7.min.js"></script>
        <script type="text/javascript" src="../js/resetPassword.js"></script>
    </head> -->

  <fieldset class="box login boxBody">
    <label><h1><b>Forgot Password</b></h1></label><br><br>
    <label>Enter Your E-mail Address</label>
    <input type="text" ng-model="userEmail" tabindex="1" placeholder="E-mail Address" required>
    <input type="submit" class="btnLogin" ng-click="sendEmail()" value="Send" tabindex="4">

  </fieldset>


<!--     <body>
            Email Address: <input type = "text" ng-model="userEmail"/><button type="button" class="btn btn-primary" ng-click="sendEmail()">Send</button>


        

        <script type="text/javascript">
        	function passwordReset(form){
        		alert("email: " + form.email.value);
        		resetPassword(form.email.value, "login.html");
        	}
        </script>
    </body>
 -->