<!-- <!DOCTYPE html>
 -->
<!--     <head>
        <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8" />
        <script src="http://www.parsecdn.com/js/parse-1.6.7.min.js"></script>
        <script type="text/javascript" src="../js/resetPassword.js"></script>
    </head> -->
    <body>
            Email Address: <input type = "text" ng-model="userEmail"/><button type="button" class="btn btn-primary" ng-click="sendEmail()">Send</button>


        

        <script type="text/javascript">
        	function passwordReset(form){
        		alert("email: " + form.email.value);
        		resetPassword(form.email.value, "login.html");
        	}
        </script>
    </body>
