<style>
.setColor { 
    color: #fff;
}

</style>

<div class="navbar" ng-controller="NavbarController">
  <nav class="apb-nav">
    <div class="apb-logo">
      <a><span class="">APB System</span></a>
    </div>
    <div class="apb-nav-box">
      <div class="apb-nav-text">
        Welcome, {{user.firstname}}
      </div>
      <div class="apb-nav-tool">
        <a href="#/patient/profile" ng-show="user.type%2===1">
          <i class="fa fa-user"></i>
          &nbsp {{currentUser.get('firstname')}} {{user.lastname}}
        </a>
        <a href="#/doctor/profile" ng-show="(user.type/10)%2===1">
          <i class="fa fa-user"></i>
          &nbsp {{currentUser.get('firstname')}} {{user.lastname}}
        </a>
 <!--        <a href="#/inbox">
          <i class="fa fa-envelope"></i>
          Inbox
        </a> -->
        <a href="" ng-click="logOut()">
          <i class="fa fa-door"></i>
          <!-- <span class="apb-badge">1</span> -->
          Logout
        </a>
      </div>
    </div>
  </nav>
  <div class="apb-side" ng-show="user.type%2===1">
    <a href="#/patient/home" class='apb-a' ng-class="{setColor: isActive('/#/patient/home')}">
      <i class="fa fa-stethoscope"></i> Patient Home</a>
    <a href="#/patient/MedCabinet" class='apb-a' ng-class="{setColor: isActive('/#/patient/MedCabinet')}">
      <i class="fa fa-plus-square"></i> Medicine Cabinet</a>
    <a href="#/patient/appointments" class='apb-a' ng-class="{setColor: isActive('/#/patient/appointments')}">
      <i class="fa fa-calendar-check-o"></i> Appointments</a>
  </div>
  <div class="apb-side" ng-show="(user.type/10)%2===1">
    <a href="#/doctor/home" class='apb-a' ng-class="{setColor: isActive('/#/doctor/home')}">
      <i class="fa fa-stethoscope"></i> Doctor Home</a>
    <a href="#/doctor/docpatient" class='apb-a' ng-class="{setColor: isActive('/#/doctor/docpatient')}">
      <i class="fa fa-stethoscope"></i> Patient Prescriptions</a>
    <a href="#/doctor/graph" class='apb-a' ng-class="{setColor: isActive('/#/doctor/graph')}">
      <i class="fa fa-line-chart"></i> Patient Graphs</a>
  </div>
</div>
