<div class="container">
	<div class="row">
		<div class="time_info col-sm-4 col-md-3">
			<div class="date w3-tag w3-red">{{date}}<span id="th">th</span></div>
			<div class="month_year">
				<span class="month">{{month}}</span>
				<!-- <span class="year">{{year}}</span> -->
			</div>
			<div class="day_of_week">{{day_of_week}}</div>
		</div>
	</div>

	<div>
		<p>

		<div class="col-md-8" >
  <style>
	td + td,
	th + th{
		border-left: 1px solid black;
	}
	tr + tr { border-top: 1px solid black; }
	</style>
			<!-- <div ng-repeat="item in prescription">{{item}}<div> -->
			<table id="period0" style="border: 1px solid black; border-collapse: collapse;">
			<tr>
				<th> Pill Name </th>
				<th> Schedule </th>
				<!--<th>time</th>-->
			</tr>
			<tr ng-repeat="item in prescription">
			  <td>{{item.pill.pillInfo}}</td>
				<td>{{item.schedule[0].time}}</td>
			</tr>
			</table>
		</div>







	</div>

	<div id="test">
		{{test}}
	</div>
</div>
