<div class="container">
	<div class="row">
		<div class="time_info col-sm-4 col-md-3">
			<div class="date w3-tag w3-red">{{date}}<span id="th">th</span></div>
			<div class="month_year">
				<span class="month">{{month}}</span>
				<!-- <span class="year">{{year}}</span> -->
			</div>
			<div class="day_of_week">{{day_of_week}}</div>
		</div>
	</div>

	<div>
		<p>

		<div class="col-md-8" >
  <style>
	td + td,
	th + th{
		border-left: 1px solid black;
	}
	tr + tr { border-top: 1px solid black; }
	</style>
			<table id="period0" style="border: 1px solid black; border-collapse: collapse;">
			<tr>
				<th> Pill Name </th>
				<th> Instructions </th>
				<!--<th>time</th>-->
			</tr>
			<tr>
			  <td>Alprazolam 2 mg</td>
				<td>0.25 to 0.5 mg orally administered 3 times a day</td>
			</tr>
			<tr>
				<td>Acetaminophen and Hydrocodone 325 mg / 5 mg</td>
				<td>Acetaminophen-hydrocodone 300 mg-5 mg: 1 to 2 tablets orally every 4 to 6 hours as needed</td>
			</tr>
			<tr>
			  <td>Oxycodone 30 mg</td>
				<td>Initial dose in opioid-naive patients: 5 to 15 mg orally every 4 to 6 hours</td>
			</tr>
			<tr>
			  <td>Acetaminophen and Hydrocodone 325 mg / 5 mg</td>
				<td>Acetaminophen-hydrocodone 300 mg-5 mg: 1 to 2 tablets orally every 4 to 6 hours as needed</td>
			</tr>
			</table>
		</div>







	</div>

	<div id="test">
		{{test}}
	</div>
</div>
