<div class="container">
	<div class="row">
		<div class="time_info col-sm-4 col-md-3">
			<div class="date w3-tag w3-red">{{date}}<span id="th">th</span></div>
			<div class="month_year">
				<span class="month">{{month}}</span>
				<!-- <span class="year">{{year}}</span> -->
			</div>
			<div class="day_of_week">{{day_of_week}}</div>
		</div>
	</div>

	<div>
		<p>

		<div class="col-md-8" style="border:1px solid black;">
			<h3>Midnight-6AM</h3>
			<table id="period0">
			<tr>
				<th> </th>
				<th> </th>
				<!--<th>time</th>-->
			</tr>
			</table>
		</div>

		<div class="col-md-8" style="border:1px solid black;">
			<h3>6AM-10AM</h3>
			<table id="period1" border="1">
			<tr>
				<th>Aspirin</th>
				<th>15 mg</th>
				<!--<th>time</th>-->
			</tr>
			</table>
		</div>

		<div class="col-md-8" style="border:1px solid black;">
			<h3>10AM-2PM</h3>
			<table id="period2" border="1">
			<tr>
				<th>Citalopram</th>
				<th>10 mg</th>
				<!--<th>time</th>-->
			</tr>
			</table>
		</div>

		<div class="col-md-8" style="border:1px solid black;">
			<h3>2PM-6PM</h3>
			<table id="period3" border="1">
			<tr>
				<th>  </th>
				<th>  </th>
				<!--<th>time</th>-->
			</tr>
			</table>
		</div>

		<div class="col-md-8" style="border:1px solid black;">
			<h3>6PM-Midnight</h3>
			<table id="period4" border="1">
			<tr>
				<th>Aspirin</th>
				<th>10 mg</th>
				<!--<th>time</th>-->
			</tr>
			</table>
		</div>



	</div>

	<div id="test">
		{{test}}
	</div>
</div>
